@media print {
    form,
    h1,
    #filter-date,
    #filter-supplier,
    #filter-warehouse,
    #filter-name_product,
    #filter-count,
    #filter-total {
        display: none;
    }
    
    #tabletable {
        color: #000;
    }

    #data-row> {
        color: #000;
    }

    .col>input {
        display: none;
    }
}